header {
  background-image: url("./img/0154_damask_s.jpg");
  background-repeat: repeat-x;
}

.navbar {
    border-radius: 0;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 0px #000;
    color: #609;
}

h2 {
    text-align: center;
    background-color: #90f;
    color: #fff;
}

.tn {
    padding-bottom: 20px;
}

footer {
    background-color: #90f;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
}

footer p {
    text-align: center;
}